
@import url(https://fonts.googleapis.com/css?family=Karla);

header{
	background-color: #ffffff;
	border: 1px black solid;
	padding: 20px;
}

body {
	width: 100%;
	height: auto;
	 margin-top: 0px;
	}

nav {
    text-align:right;
    color: #fff;
    font-size:12px;
    font-family: 'Karla';
    background-color: #000000;
    border: 1px black solid;
    padding: 60px;
}

a {
  color: #fff;
  text-decoration: none;  
}




aside {
    background-color: #ffffff;
    border: 1px black solid;
    padding: 199px;
}
article {
    background-color: #ffffff;
    border: 1px black solid;
    padding: 120px;
    height: auto;
    position: static;
}

footer {
    background-color: #000000;
    border: 1px black solid;
    padding: 20px;
    text-align: center;
     color: #ffffff;
    font-size:20px;
    font-family: 'Karla';
}





.wrapper {
    background-color: #fff;
    border: 1px black solid;
    padding: 0px;
    width: auto;
    margin: 0;
}

.wrapper img{
    width:100%;
    margin: 0;



}

.text-wrapper {
    width:100%;
    position: relative;
    margin-top: -50%;
    height: auto;
}
.text-wrapper h1{
    text-align:center;
    color: #ffffff;
    font-size:95px;
    font-family: 'Karla';
    letter-spacing: 10px;
}

.text-wrapper p{
    text-align:center;
    color: #ffffff;
    font-size:30px;
    font-family: 'Karla';
    letter-spacing: 2px;

}



.description h2{
    text-align:center;
    color: #000;
    font-size:50px;
    font-family: 'Karla';
    letter-spacing: 2px;
}
.description p{
    text-align:center;
    color: #000;
    font-size:16px;
    font-family: 'Karla';
    
}
